streamlit==1.60.0

streamlit-calendar==1.4.0

streamlit-option-menu==0.4.0

streamlit-extras==1.6.0

SQLAlchemy==2.0.43

psycopg2-binary==2.9.10

python-dotenv==1.2.2

supabase==2.10.0

bcrypt==4.3.0

Pillow==11.3.0

pytz==2025.2

cryptography==45.0.5
